@import '~jeet/styl/index.styl'
@import '~rupture/rupture/index.styl'
iframe
	margin 0 auto
	display block
.white-layer
	z-index -1
	opacity .6
	height 11em
	width 100%
	position absolute
	top 0
	background-color: white
.images
	z-index -2
	position absolute
	top 0
	img
		display inline-block
		span(1/3)
		min-height 21em