/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.container {
  max-width: 50em;
  margin: auto 3%;
  left: 0;
  right: 0;
  display: block;
}